{% extends 'base.html' %}

{% block content %}

<section class="py-5 text-center" style="background-color: #FFcba5;">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 m-auto">
        <p class="fw-bold fs-1" style="color: #fff;">Create your own Blog</p>
        <p class="fw-light fs-2" style="color: #fff;">Your own thoughts will be your uniqueness to the world.</p>
        <p>
          <a href="#community" class="btn btn-outline-light my-2">Our Community</a>
          <a href="#" class="btn btn-outline-light my-2">Register</a>
        </p>
      </div>
    </div>
  </section>

    <div class="container m-auto" id="community">
        <div class="row text-center">
        <div class="col-lg-4 p-5">
            <svg class="bd-placeholder-img rounded-circle mb-2" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
            <h2 class="fw-normal">Heading</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 p-5">
            <svg class="bd-placeholder-img rounded-circle mb-2" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
            <h2 class="fw-normal">Heading</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 p-5">
            <svg class="bd-placeholder-img rounded-circle mb-2" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
            <h2 class="fw-normal">Heading</h2>
            <p>And lastly this, the third column of representative placeholder content.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>
    

{% endblock %}
